<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body class='tk-netflix'>

	{{> base/header 'sticky'}}

	<main id='content'>
		<figure id='chart'>
			<div class='tweet__example'>
				<div class='tweet__example-id'>
					<p class='tweet__example-name'></p>
					<p class='tweet__example-handle'></p>
				</div>
				<p class='tweet__example-text'></p>
				<p class='tweet__example-time'></p>
			</div>
			<svg>
				<g>
					<g class='g-map'></g>
					<g class='g-tweets'></g>
				</g>
			</svg>
		</figure>
		<section id='intro'>
			{{> story/intro }}
		</section>
		<section id='map'>
			{{> story/map }}
		</section>
		<section id='curate'>
			{{> story/curate }}
		</section>
		<section id='explore'>
			{{> story/explore }}
		</section>
		<section id='outro'>
			{{> story/outro }}
		</section>

	</main>

	<script src='assets/scripts/d3.v4.12.0+jetpack.min.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
</body>

</html>
