#curate
	pointer-events none

	.curate__steps
		padding 0 1rem

	.step
		max-width 20rem


	nav
		position relative
		display flex
		flex-direction column
		.choice
			margin-bottom 1rem
			pointer-events none
		button
			pointer-events auto
			background-color transparent
			padding 0 0.5em
			border-bottom 2px solid $gray
			color $fg
			font-weight 700
			&.cat-a
				border-color $cat-a
			&.cat-b
				border-color $cat-b
			&.cat-c
				border-color $cat-c
			&.cat-d
				border-color $cat-d

			
.g-voronoi
	path
		fill-opacity 0
