#curate
	pointer-events none

	.curate__steps
		padding 0 1rem

	.step
		max-width 20rem


	nav
		position relative
		display flex
		flex-direction column
		.choice
			margin-bottom 1rem
			pointer-events none
		button
			pointer-events auto
			background-color transparent
			padding 0 0.5em
			border-bottom 2px solid $gray
			color $fg
			font-weight 700
			&.cat-edutainment
				border-color $cat-edutainment
			&.cat-travel
				border-color $cat-travel
			&.cat-role-model
				border-color $cat-role-model
			&.cat-fashion
				border-color $cat-fashion

			
.g-voronoi
	path
		fill-opacity 0
