#explore
	position relative
	figure
		position relative
		overflow hidden

	.figure__slide
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		transition left 1s ease-in-out

	.figure__dots
		background-image url('assets/images/dot.svg')
		background-size 10px 10px
		position absolute
		top 0
		left 0
		height 100%


	.figure__tweets
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		pointer-events none

		&-dot
			background-image url('assets/images/color-dot.svg')
			background-size 10px 10px
			position absolute
			//transform translate(-50%, 0)


	.explore__title
		position absolute
		top 2rem
		left 0
		width 100%
		text-transform uppercase
		span
			background-color $gray
			color $fg
			padding 0.5rem 1rem
			set-type-size(x-large)

	.explore__nav
		position fixed
		bottom 0
		left 0
		padding 1rem
		width 100%
		transition opacity 250ms ease-in-out
		background $bg

		&.is-hidden
			opacity 0
			pointer-events none

	.nav__choose
		display flex
		justify-content space-between
		p
			margin 0
			line-height 1
			margin-right 1rem
		span
			line-height 1
			display inline-block
			border-bottom 2px solid currentColor
			padding 0 0.25em
			margin-right 1rem

		button
			padding 0.25em
			background-color $fg
			color $bg
			text-transform uppercase
			font-family $sans

		.left,.right
			display flex



	fieldset
		display flex
		// flex-wrap wrap
		ul
			display flex
			flex-wrap wrap
		li
			margin 0 0.25em
			height 2em
			position relative
		input:checked + label
			background-color green
		input:focus + label
			outline 1px dotted white
		input
			opacity 0
			height 0
			position absolute
		label
			cursor pointer
			padding 0.25em 0.25em
			border-radius 3px
			color $gray-light
			font-weight 600
			display block
			text-transform uppercase
			text-shadow 0 0 3px $bg
			border-bottom 1px solid currentColor
			set-type-size(xx-small, true)
			+mq('bp-5')
				set-type-size(x-small, true)
				padding 0.25em 0.5em
			+mq('bp-6')
				set-type-size(small, true)
			&:hover
				yellow
