#globe
	.globe__steps
		position relative
		max-width 25rem
		margin 0
		padding 1rem
		pointer-events none

		.step
			display flex
			flex-direction column
			justify-content flex-end
			min-height 480px
			&.is-visible
				opacity 1

			&:last-of-type
				justify-content center
			p
				text-shadow 0 0 3px $bg

#chart
	.globe__canvas
		display block

#chart .g-globe
	transition opacity 250ms ease-in-out
	&.is-hidden
		opacity 0
	.graticule
		fill none
		stroke $gray-light
		stroke-dasharray 4px 4px
		display none

	.border
		fill none
		stroke $gray-light

	.land
		stroke $gray-light
		fill $off-white
		fill-opacity 0.1

	.outline
		fill none
		stroke $bg
		stroke-width 3px
		// display none

	.sphere
		fill $off-black

	.country
		fill $off-white
		fill-opacity 0
