#globe
	pointer-events none
	display block
	&.is-hidden
		display none
	.globe__steps
		position relative
		pointer-events none
		background none
		max-width 31rem
		margin-left auto
		margin-right 0
		padding 1rem
		+mq('bp-4')
			max-width 20rem
			margin 0
			padding 1rem
			background linear-gradient(to bottom, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 150px, rgba(61,61,55,0.75) 400px, rgba(61,61,55,0.75) 95%, rgba(0,0,0,0) 100%)
		.step
			//display flex
			//flex-direction column
			//justify-content flex-end
			//min-height 480px
			//max-height 700px
			opacity .4
			transition opacity .5s
			margin-bottom 90px
			&:first-of-type
				//justify-content center
				margin-bottom 100px
				+mq('bp-4')
					//justify-content flex-end
					visibility visible
				.step__destination, .step__location, .destination-wrapper
					display none

			&__contents
				background-color rgba($gray-dark, 0.85)
				+mq('bp-4')
					background-color transparent

			.destination-wrapper
				display flex
				svg
					width 20px
					margin-top -2px
					margin-right 10px
					path
						fill white
			.step__prose
				set-type-size(root, true)
				// font-size 15px
				span
					padding 0 0.25em
				.edutainment
					background-color $cat-edutainment
				.travel
					background-color $cat-travel
				.role-model
					background-color $cat-role-model
				.fashion
					background-color $cat-fashion
				.cultural-icon, .pop-culture
					background-color $cat-cultural-icon

			.step__location
				margin  0px
				font-family 'Akhand Soft'
				font-size 28px
				margin-top -5px
				color #AAA
				font-weight 600
				margin-bottom 10px
			.step__label
				margin 0px
				font-size 48px
				line-height 1

			.step__destination
				font-size 21px
				margin 0px
				text-transform uppercase
				font-family 'Akhand Soft'
			h3
				font-family 'Akhand Soft'
				text-transform uppercase
				font-size 38px
			&.is-visible
				opacity 1

			&:last-of-type
				justify-content center
			p
				span
					text-shadow 0 0 3px $bg
				visibility visible

.airplane
	pointer-events none
	width auto
	height auto
	display block
	visibility hidden

#chart .g-globe
	opacity 1
	&.is-hidden
		opacity 0
	path
		stroke green
		stroke-width 5px
		fill none
		visibility hidden
		display none
	text
		fill white
		display none
		text-anchor middle
		font-weight 300
		transition opacity 250ms ease-in-out

	&.is-hidden
		opacity 0

	.graticule
		fill none
		stroke $gray-light
		stroke-dasharray 4px 4px
		display none

	.border
		fill none
		stroke $gray-light

	.land
		stroke $gray-light
		fill $off-white
		fill-opacity 0.1

	.outline
		fill none
		stroke $bg
		stroke-width 3px
		// display none

	.sphere
		fill $off-black

	.country
		fill $off-white
		fill-opacity 0
