#intro
	.intro__hed
		position fixed
		bottom 1rem
		left 0

		&.is-hidden
			pointer-events none

		&-text
			font-size 6rem
			text-transform uppercase
			padding 0 0.75rem
			margin 0
			margin-bottom 1rem
			background-color $gray-darkest
			display inline-block
			position relative
			z-index set-index(bottom)
			font-family 'Akhand Soft'

		img
			max-width 175px
			margin-bottom 0
			transform translateY(20px)
			position relative
			z-index set-index(middle)

	.intro__watch

		a
			display flex
			flex-direction row
			align-items: center
			padding-left 1rem
			margin-top 0.5rem
			border-bottom none

		&-text
			margin 0 0.5rem 0 0
			text-transform uppercase
			set-type-size('small', true)

		svg
			height 1.25rem
			padding 0
			width auto


	.intro__steps
		position relative
		max-width 30rem
		margin-left auto
		margin-right 0
		padding 1rem

		.step
			display flex
			flex-direction column
			justify-content flex-end
			opacity 0
			transition opacity 250ms ease-in-out
			min-height 480px
			&:last-of-type
				justify-content center
			&.is-visible
				opacity 1
			p
				text-shadow 0 0 3px $bg
				text-align left

			.cat
				padding 0 0.25rem
				border-radius 2px
