#intro
	display none
	.intro__hed
		position fixed
		bottom 1rem
		left 0

		&.is-hidden
			pointer-events none

		&-text
			set-type-size('xxxx-large', true)
			text-transform uppercase
			font-weight 600
			padding 0 0.75rem
			margin 0
			margin-bottom 0.25rem
			background-color $gray-darkest
			display inline-block
			position relative
			z-index set-index(bottom)

		img
			max-width 175px
			margin-bottom 0
			transform translateY(20px)
			position relative
			z-index set-index(middle)


	.intro__steps
		position relative
		max-width 30rem
		margin-left auto
		margin-right 0
		padding 1rem

		.step
			display flex
			flex-direction column
			justify-content flex-end
			opacity 0
			transition opacity 250ms ease-in-out
			min-height 480px
			&:last-of-type
				justify-content center
			&.is-visible
				opacity 1
			p
				text-shadow 0 0 3px $bg
				text-align left

			.cat
				padding 0 0.25rem
				border-radius 2px
