footer
  clear both
  position relative
  padding 2rem 1rem
  background-color $bg

  .footer-social
    padding-bottom 0.5rem
    margin 0 auto
    margin-bottom 1rem
    max-width 54rem
    text-align left
    font-size 0.8rem
    display flex
    flex-direction row
    border-bottom 1px solid $gray-light
    justify-content: flex-start;
    align-items: center;

    &__preach
      padding 0
      margin-right 0.5em
      text-transform uppercase
      letter-spacing 0.05em
      font-weight 500
      font-family $akhand
      set-type-size('x-large', true)

    &__icons
      display flex
      flex-direction row

    &__icon
      margin-right 0.5em
      line-height 1

  .outro
    margin-top 2rem
    max-width 54rem
    margin 0 auto
    a
      text-decoration underline
      border none
    &__hed
      font-size 0.7em
      font-weight 500
      text-transform uppercase
      margin-top 1rem
      margin-bottom 0.5rem
      letter-spacing 0.05em
      font-family $akhand
      set-type-size('medium', true)
    p
      font-size .9rem
      font-weight 300
      font-family $netflix
