/* CUSTOM STORY STYLE */

body
	font-weight 400

section
	position relative

figure#chart
	position fixed
	top 3rem
	left 0
	width 100%
	transition opacity 250ms ease-in-out

	&.is-hidden
		opacity 0
		pointer-events none

	.chart__bg
		position absolute
		top 0
		left 0

	.chart__canvas
		position absolute
		top 0
		left 0

	.chart__svg
		.node
			opacity 0

			&.is-active
				opacity 1

			&.is-curate
				.mid, .outer
					opacity 0
			
			&.is-highlight
				.inner
					fill $primary

			.inner
				fill $fg
				stroke $bg
				stroke-width 3px
				cursor pointer


			.mid
				stroke-width 1px

			.outer
				stroke-width 1px
				fill none

			&-a
				.mid
					fill rgba($edu, .3)
					stroke rgba($edu, .6)

				.outer
					stroke $edu

			&-b
				.mid
					fill rgba($role, .3)
					stroke rgba($role, .6)

				.outer
					stroke $role

			&-c
				.mid
					fill rgba($fashion, .3)
					stroke rgba($fashion, .6)

				.outer
					stroke $fashion

			&-d
				.mid
					fill rgba($culture, .3)
					stroke rgba($culture, .6)

				.outer
					stroke $culture

			&-e
				.mid
					fill rgba($travel, .3)
					stroke rgba($travel, .6)

				.outer
					stroke $travel
			//
			// .mid
			// 	fill rgba($red, .3)
			// 	stroke rgba($red, .6)
			// 	stroke-width 1px
			//
			// .outer
			// 	fill none
			// 	stroke-width 1px
			// 	stroke $red

		.node__example
			fill $red
			visibility hidden

			&.is-active
				visibility visible


	.chart__tweets
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index set-index(top)
		pointer-events none
