/* CUSTOM STORY STYLE */

body
	font-weight 400

strong
	font-weight 700
	color $primary
section
	position relative

figure#chart
	position fixed
	top 3rem
	left 0
	width 100%
	transition opacity 250ms ease-in-out

	&.is-hidden
		opacity 0
		pointer-events none

	canvas
		position absolute
		top 0
		left 0

	.canvas__bg
		&:before
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			background-image linear-gradient(to bottom right,#002f4b,#dc4225)
			opacity .6

	.chart__svg
		position relative
		.node
			opacity 0

			&.is-active
				opacity 1

			&.is-curate
				.mid, .outer
					opacity 0

			&.is-highlight
				.inner
					fill $primary

			.inner
				fill $fg
				stroke $bg
				stroke-width 3px
				cursor pointer


			// .mid
			// 	stroke-width 1px

			// .outer
			// 	stroke-width 1px
			// 	fill none

			// &-a
			// 	.mid
			// 		fill rgba($cat-a, .3)
			// 		stroke rgba($cat-a, .6)

			// 	.outer
			// 		stroke $cat-a

			// &-b
			// 	.mid
			// 		fill rgba($cat-b, .3)
			// 		stroke rgba($cat-b, .6)

			// 	.outer
			// 		stroke $cat-b

			// &-c
			// 	.mid
			// 		fill rgba($cat-c, .3)
			// 		stroke rgba($cat-c, .6)

			// 	.outer
			// 		stroke $cat-c

			// &-d
			// 	.mid
			// 		fill rgba($cat-d, .3)
			// 		stroke rgba($cat-d, .6)

			.outer
				stroke $cat-d

		.node__example
			fill $red
			visibility hidden

			&.is-active
				visibility visible


	.chart__tweets
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index set-index(top)
		pointer-events none
