/* CUSTOM STORY STYLE */

body
	font-weight 400

section
	position relative

figure#chart
	position fixed
	top 3rem
	left 0
	width 100%
	z-index 3
	transition opacity 250ms ease-in-out
	
	&.is-hidden
		opacity 0
		pointer-events none

	.chart__svg
		.node
			opacity 0

			&.is-active
				opacity 1

			.inner
				fill white

			.mid
				fill rgba($red, .3)
				stroke rgba($red, .6)
				stroke-width 1px

			.outer
				fill none
				stroke-width 1px
				stroke $red


	.chart__tweets
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index set-index(top)