.globe-tweets
	.tweet
		&__image-5
			display block
			background-image url('assets/images/carmen-5.png')
			width 100%
			height 100px
			background-size cover
			position absolute
			top 0px
			transform translate(0px,-100%)
		&__image-4
			display block
			background-image url('assets/images/carmen-4.png')
			width 100%
			height 100px
			background-size cover
			position absolute
			top 0px
			transform translate(0px,-100%)
		&__image-3
			display block
			background-image url('assets/images/carmen-3.png')
			width 100%
			height 100px
			background-size cover
			position absolute
			top 0px
			transform translate(0px,-100%)
		&__image-1
			display block
			background-image url('assets/images/carmen-2.png')
			width 100%
			height 100px
			background-size cover
			position absolute
			top 0px
			transform translate(0px,-100%)
		&__image-1
			display block
			background-image url('assets/images/carmen-1.png')
			width 100%
			height 100px
			background-size cover
			position absolute
			top 0px
			transform translate(0px,-100%)

.tweet
	position absolute
	background-color $fg
	color $bg
	width 18rem
	border-radius 10px
	padding 1rem
	transform translate(-50%, -50%)
	z-index set-index(top)
	pointer-events all
	&__image
		display none
  &__name
		margin 0
		font-weight 700
	.tweet__handle
		margin 0
		margin-bottom 0.5rem
		color $gray
		set-type-size('x-small')
	.tweet__text
		margin 0
		color $off-black
		set-type-size('small', true)
	.tweet__time
		margin 0
		color $gray
		set-type-size('x-small')
