.tweet__example
  position absolute
  background-color: white
  width 250px
  height: 175px
  border-radius: 10px
  top 50px
  padding 1rem
  display flex
  flex-direction column
  justify-content: space-between;
  visibility hidden
  &-name
    display flex
    margin-top 0.5rem
    margin-bottom 0
    color $off-black
    line-height 1
    font-weight 600

  &-handle
    set-type-size('x-small')
    color $gray
    margin-top 0
    margin-bottom 0.25rem

  &-text
    color $off-black
    margin 0

  &-time
    color $gray
    set-type-size('x-small')
    margin 0

  &.is-active
    visibility visible
