.tweet
	position absolute
	background-color $fg
	color $bg
	width 15rem
	border-radius 10px
	padding 1rem

	&__name
		margin 0
		font-weight 700

	&__handle
		margin 0
		margin-bottom 0.5rem
		color $gray
		set-type-size('x-small')

	&__text
		margin 0
		color $off-black

	&__time
		margin 0
		color $gray
		set-type-size('x-small')

	&.is-center
		transform translate(-50%, -50%)
	
	&.is-left
		transform translate(0, -50%)
	
	&.is-right
		transform translate(50%, -50%)