<a href='#content' class='skip-to-main'>Skip to main content</a>

<header class='{{#ifEquals this 'sticky'}}is-sticky{{/ifEquals}}{{#ifEquals this 'sticky-dark'}}is-sticky is-dark{{/ifEquals}}'>
	<div class='left'>
		<a href='https://www.netflix.com/title/80167821' target='_blank' class='logo logo-carmen'>
			@@include('carmenLogo.svg')
		</a>
		<p class='header__text tk-netflix'>A Netflix Original Series</p>
	</div>

	<div class='right'>
		<a href='https://twitter.com/netflix' target='_blank' class='logo logo__social logo-twitter'>
			@@include('twitter.svg')
		</a>
		<a href='https://www.instagram.com/netflix/?hl=en' target='_blank' class='logo logo__social logo-instagram'>
			@@include('instagram.svg')
		</a>
		<a href='https://www.facebook.com/netflix/' target='_blank' class='logo logo__social logo-facebook'>
			@@include('facebook.svg')
		</a>
		<a href='https://www.netflix.com/title/80167821' target='_blank' class='logo logo-netflix'>
			@@include('netflix.svg')
		</a>
	</div>
</header>
