<div class='curate__steps'>
	<div class='step' data-step='intro'>
		<p class='step__prose'>{{{doc.curate.text}}}</p>
	</div>
	<div class='step' data-step='nav'>
		<p>{{{doc.curate.choose}}}</p>
		<nav class='curate__nav' role='group'>
				{{#each doc.categories}}
				{{#if curate}}
				<div class='choice'><button data-id='{{id}}'>{{label}}</button></div>
				{{/if}}
				{{/each}}
		</nav>
	</div>
</div>





