<figure class='explore__dots'></figure>

<h3 class='explore__title'>{{{doc.explore.title}}}</h3>

<nav class='explore__nav'>
	<p>{{{doc.explore.choose}}}</p>
	<button>{{{doc.explore.button}}}</button>
</nav>