<figure class='explore__figure'>
	<div class='figure__dots'></div>
	<div class='figure__tweets'></div>
</figure>

<h3 class='explore__title'><span>{{{doc.explore.title}}}</span></h3>

<nav class='explore__nav is-hidden'>
	<button>{{{doc.explore.button}}}</button>
</nav>