<div class='intro__dots'></div>

<img src='assets/images/carmen-swing.png' class='carmen-swing'>

<div class='intro__hed'>
	<img src='assets/images/carmen-crouch.png' class='carmen-crouch'>
	<span class='intro__hed-text intro__hed-text-desktop'>The</span><br class='break-desktop'>
	<span class='intro__hed-text intro__hed-text-desktop'>Carmen</span><br class='break-desktop'>
	<span class='intro__hed-text intro__hed-text-mobile'>The Carmen</span><br class='break-mobile'>
	<span class='intro__hed-text'>Effect</span>
	<div class='intro__watch'>
		<a href='netflix.com'>
			<p class='intro__watch-text tk-netflix'>Watch the series on</p>
			@@include('netflix.svg')
		</a>
	</div>
</div>

<div class='intro__steps'>
	{{#each doc.intro-steps}}
	<div class='step' data-step='{{{step}}}'>
		<p class='step__prose'>{{{text}}}</p>
	</div>
	{{/each}}
</div>
