<div class='intro__dots'>
  <div class='intro__layers'>
    <img class='bottom' src='assets/images/dots.jpg'>
    <img class='top' src='assets/images/carmen_dots.jpg'>
  </div>
</div>

<div class='intro__overlays'>

  <div class='intro__hed'>
    <img src='assets/images/carmen-crouch.png' class='carmen-crouch'>
    <span class='intro__hed-text'>The</span><br>
    <span class='intro__hed-text'>Carmen</span><br>
    <span class='intro__hed-text'>Effect</span>
  </div>

  <div class='intro__steps'>
    {{#each doc.intro-steps}}
      <div class='step' data-step='{{{step}}}'>
        <p class='step__prose'>{{{text}}}</p>
      </div>
    {{/each}}
  </div>

</div>
